* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.related-app-container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.related-product-content {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.select-product {
    margin-top: 20px;
    padding: 11px 24px;
    background-color: #008060;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.select-product:hover {
    background-color: #006e52;
}

.select-product:active {
    background-color: #003d2c;
}

.product-list {
    min-height: 500px;
    height: 100%;
    overflow-y: auto;
}

.product-list {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

.product-item {
    padding: 8px 20px;
    border-top: 0.2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.inactive {
    padding: 8px 20px;
    border-top: 0.2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.product-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.product-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.search-bar {
    padding: 20px;
}

.loader-wrapper {
    width: 100%;
    min-height: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    opacity: 0.5;
    pointer-events: none;
}

.customizer-container {
    max-width: 1500px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    margin-top: 20px;
}

.header {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.cart-container {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
}

.cart-content h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 5px;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
}

.current-price {
    font-size: 18px;
}

.prev-price {
    color: red;
    font-size: 18px;
}

.add-cart {
    width: 100%;
    height: 35px;
    background-color: #fff;
    border: 2px solid #000;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
}

.add-cart:disabled {
    color: #000;
    cursor: not-allowed !important;
    outline: none !important;
}

.add-cart:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.add-cart:active {
    outline: 1px solid blue;
}

.setting-container {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    gap: 20px;
}

.sidebar {
    min-width: 250px;
    padding: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 28px;
    border-right: 20px;
}

.left-stick {
    width: 4px;
    height: 35px;
    background-color: #008060;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}
.active-item {    
    background-color: #EDEEEF;
}

.sidebar-content {
    width: 80%;
}

.item-name {
    color: #202223;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
.active-name {
    color: #007B5c;
}

.sync-header {
    font-size: 16px;
    font-weight: 600;
}
.sync-description {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    width: 100%;
}
.manage-languages {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    border-radius: 4px;
}
.manage-languages:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.text-field {
    margin-top: 5px;
}